.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: auto o;
}

nav {
  background-color: #da5e5e;
  padding: 12px 0;
}

.navigation ul {
  padding: 0 0;
  margin: 0;
  list-style-type: none;
}

.navigationli {
  display: inline-block;
  position: relative;
  margin-right: 36px;
}

.navigation a {
  text-decoration: none;
  color: blueviolet;
}

.navigation a:hover {
  color: red;
  background-color: yellow;
}

.navigation ul ul li {
  display: block;
  margin-bottom: 12px;
}

.navigation ul:nth-child(2) {
  display: none;
}

.navigation li:hover ul {
  display: block;
  text-align: center;
  position: absolute;
  background-color: #ec0a55;
}

.navigation li ul a {
  color: blue;
  display: block;
}

.navigation li ul {
  padding: 0 24px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
}

.navigation li ul a:hover {
  color: blue;
}

.navigation li li {
  margin: 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-one {
  border-color: #e84118;
  color: #e1b12c;
  background-image: linear-gradient(90deg, #44bd32 50%, transparent 50%);
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNJLGlCQUFpQjtFQUNqQixlQUFlO0VBQ2YsY0FBYztBQ0NsQjs7QURFQTtFQUNJLHlCQUFrQztFQUNsQyxlQUFlO0FDQ25COztBREVBO0VBQ0ksWUFBWTtFQUNaLFNBQVM7RUFDVCxxQkFBcUI7QUNDekI7O0FERUE7RUFDSSxxQkFBcUI7RUFDckIsa0JBQWtCO0VBQ2xCLGtCQUFrQjtBQ0N0Qjs7QURFQTtFQUNJLHFCQUFxQjtFQUNyQixpQkFBaUI7QUNDckI7O0FERUE7RUFDSSxVQUFVO0VBQ1Ysd0JBQXdCO0FDQzVCOztBREVBO0VBQ0ksY0FBYztFQUNkLG1CQUFtQjtBQ0N2Qjs7QURFQTtFQUNJLGFBQWE7QUNDakI7O0FERUE7RUFDSSxjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLGtCQUFrQjtFQUNsQix5QkFBa0M7QUNDdEM7O0FERUE7RUFDSSxXQUFXO0VBQ1gsY0FBYztBQ0NsQjs7QURFQTtFQUNJLGVBQWU7RUFDZixTQUFTO0VBQ1QsMkJBQTJCO0VBQzNCLGlCQUFpQjtBQ0NyQjs7QURFQTtFQUNJLFdBQVc7QUNDZjs7QURFQTtFQUNJLFNBQVM7QUNDYjs7QURFQTtFQUNJLHFCQUFxQjtFQUNyQixnQkFBZ0I7RUFDaEIsd0JBQXdCO0VBQ3hCLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLGVBQWU7RUFDZixrQkFBa0I7RUFDbEIscUJBQXFCO0VBQ3JCLGVBQWU7RUFDZixpQkFBaUI7RUFDakIsbUJBQW1CO0VBQ25CLDJCQUEyQjtFQUMzQixxQkFBcUI7RUFDckIsa0JBQWtCO0FDQ3RCOztBREVBO0VBQ0kscUJBQXFCO0VBQ3JCLGNBQWM7RUFDZCxzRUFBc0U7QUNDMUUiLCJmaWxlIjoic3R5bGUuY3NzIn0= */