.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto o;
}

nav {
    background-color: brown;
    padding: 12px 0;
}

/*.navigation {
    
    ul {
    padding: 0 0;
    margin: 0;
    list-style-type: none;
}
    li {
    display: inline-block;
    position: relative;
    margin-right: 36px;
}
    a {
    text-decoration: none;
    color: blueviolet;
}
}*/